body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

a {
  transition-duration: 0.35s;
}

nav a:hover {
  background-color: red;
  border-radius: 11px;
  width: 10px;
  height: 10px;
  background-image: linear-gradient(90deg, red, green, blue);
  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    margin-top: 0px;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1.titulos {
    text-align: center;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
}

h2.subtitulos {
    text-align: center;
    margin: 5px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.10)
}

h2 {
    margin-top: 0;
}

img {
    width: 25%;
    height: 25px;
    height: auto;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 4px;
    text-align: center;
    clear: both;
}
